<textarea id="html_area" name="crui_html" class="coderunner-ui-element" style="width:100%;"></textarea>
<div id="ace_editor" class="html_question">
    <script>
        $( document ).ready(function() {
        	console.info("load");
		var textarea = $('textarea[name="crui_html"]').hide();
		var editor = ace.edit("ace_editor");
		console.info(editor, $("#ace_editor"));
		editor.setTheme("ace/theme/github");
		editor.getSession().setMode("ace/mode/html");
		editor.getSession().setValue(textarea.val());
		editor.getSession().on('change', function() {
		    textarea.val(editor.getSession().getValue());
		    textarea.change();
		});
        });
    </script>
</div>
<iframe id="rendered_html" style="width: 100%; min-height: 400px; border: 1px solid black;">HTML Here</iframe>
    
</div>
<script>
    function render() {
        var html_area = new DOMParser().parseFromString($("#html_area").val(), "text/html");
        document.getElementById("rendered_html").srcdoc = $(html_area).find("html").clone().html();
    }

    function check() {
        $(".coderunnerexamples thead tr>:first-child").hide();
        $(".coderunnerexamples tbody tr").each(function() {
            var testresult;
            $(this).find(">:first-child").each(function() {
                testresult = new Function("html_area", "rendered_html", $(this).text())($("#html_area").val(), $("#rendered_html").contents().find("html"));
                $(this).hide();
                if (testresult == true) {
                    $(this).parent().children().each(function() {
                        $(this).css("background-color", "#4c4");
                    });
                } else {
                    $(this).parent().children().each(function() {
                        $(this).css("background", "#c44");
                    });
                }
            });

        });
    }
    $(document).ready(function() {
        render();
        check();
    });
    $("#html_area").on('change keyup paste', function() {
        console.info("change", $(this).val())
        render();
        check();

    });
</script>
</div>

<style>
    .que.coderunner .ace_editor.html_question {
        height: 400px;
    }
</style>
